.footerContainer{
    background-color: black;
    color: white;
}
.footer{
    display: flex;
    padding: 20px 30px;
    gap: 30px;
}

.companyLogo{
    height: 150px;
    padding-bottom: 40px;
}

.details{
    display: flex;
    align-items: center;
    gap: 14px;
}
.details img{
    width: 40px;
}

.details a{
    color: white;
    text-decoration: none;
}

.recentPost ul{
    display: flex;
    gap: 11px;
    flex-direction: column;
}
.recentPost a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}
.end{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}
.end ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.end img{
    width: 20px;
    height: 20px;
}