.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: black;
    color: white;
}
.navbarContainer img{
    height: 50px;
    background: black;
    width: 150px;
}

.navbarContainer ul{
    list-style: none;
    display: flex;
    gap: 30px;
}